extends layout

block content
  div(class="#{content.headerClass}")
    section.parent
      .row(data-equalizer)
        .small-3.columns.menu(data-equalizer-watch)
          ul
            each rec in content.menu
              li
                div.container
                  img(src= rec.img)
                  p!= rec.text
        .small-9.columns.main(data-equalizer-watch)
            .row
              .small-12.columns.small-centered
                .row
                  .top
                    img(src=content.main.header.img)
                .row
                  .bottom.small-11.columns.small-centered
                    h3 #{content.main.body.heading}
                    .paras
                      each rec in content.main.body.paras
                        p= rec
  script(src='/javascripts/main.js')
